/**
 *
 * @name Layout - Footer
 * @description
 *
 *
 */

footer
  background-color #333
  color            $white
  padding          20px 0
  margin           40px 0

  .brand
    color #f5f5f5

  .inline-list
    font-size     14px
    margin-bottom 10px

  p
    margin-bottom 0

  a
    border-bottom 1px dotted $red

    &:hover
      border-bottom 1px dotted $pink

  &> .row
    max-width 100%

.copyright
  font-size 12px
