a{color:#5c4b51;}
a:hover{color:#ef847b}
h1,h2,h3,h4{text-align:center}
h1{line-height:1.25;margin:0}
.subtitle{color:#bcbcbc;text-align:center}
button,.button{background-color:#a5c88f;border-color:#a5c88f;}
button:hover,.button:hover,button:focus,.button:focus{background-color:#5f8a44}
button.alert,.button.alert{background-color:#ef847b;border-color:#ef847b;}
button.alert:hover,.button.alert:hover,button.alert:focus,.button.alert:focus{background-color:#e22b1b}
label.error,.error label,.error label.error{color:#ef847b}
.error > small,.error small.error{background:#ef847b}
.actions .button:first-child{margin-right:5px}
.panel h1,.panel h2,.panel h3,.panel h4,.panel h5,.panel h6{color:#8cbeb2}
.panel .subtitle{color:#bcbcbc}
.babble{min-height:240px;}
@media only screen and (min-width: 1025px){.babble{min-height:260px}
}.babble-faux-img{border-bottom:20px solid #a5c88f;border-top:1px solid #a5c88f;color:#a5c88f;font-size:55px;-webkit-font-smoothing:antialiased;margin-bottom:20px;padding-top:100px;}
@media only screen and (min-width: 1025px){.babble-faux-img{padding-top:120px}
}.slat{margin:40px 0;}
.slat a{border-bottom:1px dotted #5c4b51;}
.slat a:hover{border-bottom:1px dotted #ef847b}


header{margin:20px 0;}
header h1{color:#222}
header a:hover{border-bottom:1px dotted #ef847b}
.logo{font-size:24px}
.brand{text-align:center}
footer{background-color:#333;color:#fff;padding:20px 0;margin:40px 0;}
footer .brand{color:#f5f5f5}
footer .inline-list{font-size:14px;margin-bottom:10px}
footer p{margin-bottom:0}
footer a{border-bottom:1px dotted #5c4b51;}
footer a:hover{border-bottom:1px dotted #ef847b}
footer> .row{max-width:100%}
.copyright{font-size:12px}


