/**
 *
 * @name App
 * @description
 * Root styl file.
 *
 */
a {
  color: #f5f5f5;
}
#brand {
  font-weight: normal;
}
#main ng-view> .row {
  max-width: 100%;
}
footer {
  background-color: #333;
  color: #f5f5f5;
  padding: 20px 0;
  margin: 40px 0;
}
footer .brand {
  color: #f5f5f5;
}
footer .inline-list {
  margin-bottom: 0;
}
footer p {
  margin-bottom: 0;
}
footer> .row {
  max-width: 100%;
}
