.babble
  min-height 240px

  @media only screen and (min-width: 1025px)
    min-height 260px

.babble-faux-img
  border-bottom  20px solid $green
  border-top     1px solid $green
  color          $green
  font-size      55px
  font-smoothing antialiased
  margin-bottom  20px
  padding-top    100px

  @media only screen and (min-width: 1025px)
    padding-top 120px
