button
.button
  background-color $green
  border-color     $green

  &:hover
  &:focus
    background-color darken($green, 40%)

button.alert
.button.alert
  background-color $pink
  border-color     $pink

  &:hover
  &:focus
    background-color darken($pink, 30%)
