header(
  ng-controller="HeaderController"
)
  .brand
    a.logo(href="#")
      i.fa.fa-lightbulb-o

      h1 Digits
      p.subtitle Taking the guesswork out of shopping.

  nav.tab-bar
    section.left-small
      a.left-off-canvas-toggle.menu-icon
        span

    section.middle.tab-bar-section
      | Menu
