footer
  .row
    .small-9.columns
      ul.inline-list
        li
          | Size Me Up

        li
          a(href="#") Home

        li
          a(href="#") About

      p
        | &copy; 2014 Size Me Up

    .small-3.columns
      ul.inline-list
        li
          a(href="#")
            i.fa.fa-facebook-square

        li
          a(href="#")
            i.fa.fa-twitter-square

