/**
 *
 * @name Layout - Footer
 * @description
 *
 *
 */

footer
  background-color #333
  color #f5f5f5
  padding 20px 0
  margin 40px 0

  .brand
    color #f5f5f5

  .inline-list
    margin-bottom 0

  p
    margin-bottom 0

  &> .row
    max-width 100%
