/**
 *
 * @name Typography
 * @description
 * Any font related alterations, styles, customizations should be here.
 *
 */

h1
h2
h3
h4
  text-align center

h1
  line-height 1.25
  margin      0

.subtitle
  color      $gray
  text-align center
