.row
  .small-12.columns
    a.button.tiny.right(
      href="#edit-profile/{{profile.id}}"
    ) Edit

    h1 Profile <small>{{profile.name}}</small>

    .panel
      p {{profile.description}}

.row
  .small-6.columns
    label Overall

    select
      option(value="small") S
      option(value="medium") M

    label Bust

    input(type="text", placeholder="Bust")

    label Waist

    input(type="text", placeholder="Waist")

    label Hip

    input(type="text", placeholder="Hip")

    label Inseam

    input(type="text", placeholder="Inseam")

    label Height

    input(type="text", placeholder="Height")

  .small-6.columns
    label Ring

    input(type="text", placeholder="Ring")

    label Bracelet

    input(type="text", placeholder="Bracelet")

    label Shoe

    input(type="text", placeholder="Shoe")
