.row
  .small-12.columns
    h1 Profile <small>Spouse</small>

.row
  .small-4.columns
    label.right.inline Overall

  .small-4.columns
  .small-4.columns
    select
      option(value="small") S
      option(value="medium") M

.row
  .small-4.columns
    label.right.inline Bust

  .small-4.columns
    input(type="text", placeholder="Bust")

  .small-4.columns
    select
      option(value="small") S
      option(value="medium") M

.row
  .small-4.columns
    label.right.inline Waist

  .small-4.columns
    input(type="text", placeholder="Waist")

  .small-4.columns
    select
      option(value="small") S
      option(value="medium") M

.row
  .small-4.columns
    label.right.inline Hip

  .small-4.columns
    input(type="text", placeholder="Hip")

  .small-4.columns
    select
      option(value="small") S
      option(value="medium") M

.row
  .small-4.columns
    label.right.inline Inseam

  .small-4.columns
    input(type="text", placeholder="Inseam")

  .small-4.columns
    select
      option(value="small") S
      option(value="medium") M

.row
  .small-4.columns
    label.right.inline Height

  .small-4.columns
    input(type="text", placeholder="Height")

  .small-4.columns
    select
      option(value="small") S
      option(value="medium") M

.row
  .small-4.columns
    label.right.inline Ring

  .small-4.columns
    input(type="text", placeholder="Ring")

  .small-4.columns
    select
      option(value="small") S
      option(value="medium") M

.row
  .small-4.columns
    label.right.inline Bracelet

  .small-4.columns
    input(type="text", placeholder="Bracelet")

  .small-4.columns
    select
      option(value="small") S
      option(value="medium") M

.row
  .small-4.columns
    label.right.inline Shoe

  .small-4.columns
    input(type="text", placeholder="Shoe")

  .small-4.columns
    select
      option(value="small") S
      option(value="medium") M
