.row
  .small-12.columns
    a.button.tiny.right(
      href="#edit-profile/{{profile.id}}"
    ) Edit

    h1 Profile <small>{{profile.name}}</small>

    .panel
      p {{profile.description}}

.row
  .small-6.columns
    label Jacket size
      | &nbsp;
      small (also includes overcoats and raincoat)
    select
      option(value="small") S
      option(value="medium") M

    label Shirt size
      | &nbsp;
      small (also includes sweater and polo)

    select
      option(value="small") S
      option(value="medium") M

    div(ng-switch="profile.gender")
      div(ng-switch-when="male")
        label Chest

        input(type="text", placeholder="Chest")

      div(ng-switch-when="female")
        label Bust

        input(type="text", placeholder="Bust")

    label Waist

    input(type="text", placeholder="Waist")

    label Inseam

    input(type="text", placeholder="Inseam")

  .small-6.columns
    label Shoe

    input(type="text", placeholder="Shoe")

    label Hat

    input(type="text", placeholder="Hat")

    label Gloves

    select
      option(value="small") S
      option(value="medium") M

    label Ring

    input(type="text", placeholder="Ring")

    label Bracelet

    input(type="text", placeholder="Bracelet")
