.row
  .small-12.columns
    h2 Gimme yo digits!
    p.subtitle Manage the sizes of all your loved ones, effortlessly, through one simple app.

    .callout
      | shopping<br />
      | made easy!

.row
  .columns
    section.panel
      h2 Features
      p.subtitle Truely a man's best friend&hellip;

      ul.square
        li
          | Create profiles for all of your friends

        li
          | Update sizes extremely quickly

        li
          | Peace of mind

        li
          | Absolutely Free

  .columns
    section.panel
      h2 Compatibility
      p.subtitle Works on&hellip;

      ul.no-bullet
        li
          i.fa.fa-mobile
          | &nbsp;
          | Mobile

        li
          i.fa.fa-desktop
          | &nbsp;
          | Desktop
