.row
  .columns
    .slat.intro
      h2 Gimme yo digits!
      p.subtitle Manage the sizes of all your loved ones, effortlessly, through one simple app.

.row
  .large-4.columns
    .babble.babble-faux-img
      | shopping<br />
      | made easy!

  .large-4.columns
    section.panel.babble
      h2 Features
      p.subtitle Truely a man's best friend&hellip;

      ul.square
        li
          | Create profiles for all of your friends

        li
          | Update sizes extremely quickly

        li
          | Peace of mind

        li
          | Absolutely Free

  .large-4.columns
    section.panel.babble
      h2 Compatibility
      p.subtitle Works on&hellip;

      ul.square
        li
          i.fa.fa-mobile
          | &nbsp;
          | Mobile

        li
          i.fa.fa-desktop
          | &nbsp;
          | Desktop
