.row
  .small-12.columns
    h1 Getting Started
    p Some text explaining wtf this is

    div(style="height: 200px; background-color: #666")
      | img or something

.row
  .small-4.columns
    section.panel
      h2 Section 1
      p Section Content

  .small-4.columns
    section.panel
      h2 Section 2
      p Section Content

  .small-4.columns
    section.panel
      h2 Section 3
      p Section Content
